apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: myhero-gateway
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "<YOUR_UI_DNS_NAME>"
    - "<YOUR_APP_DNS_NAME>"
    - "<YOUR_SPARK_DNS_NAME>"
